body{
    background-color:#f6fbff; 
  }
.image-container {
  width: 300px;
  height: 300px;
  overflow: hidden; 
  display: flex;
  align-items: center;
}
#profile {
  width: 100%;
  height: auto;
}
.div {
  background-color:#c8d0d7;
  width: 500px;
  padding: 10px;
}
h1 {
  font-size: 2em;
}
